/* Centered box styles */
// html, body {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     overflow: hidden; /* Prevent overflow */
// }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden; /* Prevent overflow */
}

.container-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.form-subtitle {
    color: #cc5500;
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #cc5500;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
}

.form-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.text-label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
}
.text-input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.checkbox-input {
    margin-right: 10px;
}

.form-button {
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    &:hover {
        text-decoration: underline;
    }
    &--active {
        color: #cc5500;
    }
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
    text-align: left;
}

.container-title {
    color: #cc5500;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.container-logo {
    border-radius: 20%;
    width: 50px;
    height: 50px;
    border: 2px solid #cc5500;
    color: #cc5500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}